chardet==3.0.4
colorama==0.4.1
Cython==0.29.4
defusedxml==0.5.0
Django==2.1.2
django-cors-headers
django-nose==1.4.6
djangorestframework==3.9.0
httpie==1.0.2
idna==2.7
nose==1.3.7
Pillow==5.4.1
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pyfcm==1.4.5
Pygments==2.2.0
PyJWT==1.7.1
pytesseract==0.2.6
pytz==2018.7
six==1.11.0
urllib3==1.24.1
sentry-sdk==0.6.9

gdn-python-common==0.5.0

mailchimp==2.0.9
serializers==0.2.4

django-ses

# package database
psycopg2-binary==2.8.4

#logging helper
django-celerybeat-status==0.0.10
celery
python-json-logger==0.1.9
requests
